<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Page not found</title>
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header_nav">
        <ul class="main-header_list">
          <li class="main-header_list-item">
            <a class="active" href="/shop">Shop</a>
          </li>
          <li class="main-header_list-item">
            <a href="/admin/add-product">Add Product</a>
          </li>
          <li class="main-header_list-item">
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
      </nav>
    </header>
    <h1>Page not found : Error 404!</h1>
  </body>
</html>
