<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/shop">Shop</a></li>
          <li><a href="/admin/add-product">Add Product</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/success" method="post">
        <input type="text" name="name" id="name" placeholder="Enter name" />
        <input type="email" name="email" id="email" placeholder="Enter email" />
        <button type="submit">Contact</button>
      </form>
    </main>
  </body>
</html>
